body {
    margin: 0;
    background-color: hsl(220, 21%, 16%);
    background-image: linear-gradient(hsl(220, 21%, 24%), hsl(220, 21%, 10%));
    color: white;
    font: normal 16px/1 Roboto, sans-serif;
}
