body {
    margin: 0;
    background-image: linear-gradient(135deg, #ABDCFF 10%, #0396FF 100%);
    color: white;
    font: normal 16px/1 Roboto, sans-serif;
}

#root {
    height: 100vh;
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
